/* footer*/

footer {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lista_footer {
    list-style-type: none;
    display: flex;

}

.logofooter {
    width: 180px;
    height: 80px;
    text-align: left;
    margin-left: 20px;


}

.linombresfooter {
    margin: 0px 8px 0px 8px;
    background-color: rgba(54, 7, 98, 0.616);
    padding: 10px;
    color: white;
}

.logo-tmdb {
    width: 100px;
    height: 120px;
}

.img-logo-tmbd {
    margin-top: 30px;
}